---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import logoImage from "@assets/logo.svg";
import darkLogo from "@assets/logo-dark.svg";
const leftmenu = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];

const rightmenu = [
  {
    label: "Archive",
    href: "/archive",
  },
  {
    label: "Github",
    href: "https://github.com/web3templates/stablo-astro",
    external: true,
    badge: "new",
  },
  {
    label: "Download",
    href: "https://web3templates.com/templates/stablo-minimal-blog-website-template",
    external: true,
  },
];

const mobilemenu = [...leftmenu, ...rightmenu];
---

<Container>
  <nav
    x-data="{ open: false }"
    x-init="$watch('open', value => console.log(value))">
    <div class="flex flex-wrap justify-between md:gap-10 md:flex-nowrap">
      <div
        class="flex-col items-center justify-start order-1 hidden w-full md:flex md:flex-row md:justify-end md:w-auto md:order-none md:flex-1">
        {
          leftmenu.map((item) => (
            <a
              href={item.href}
              class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500">
              {item.label}
            </a>
          ))
        }
      </div>

      <div class="flex items-center justify-between w-full md:w-auto">
        <a class="w-28 dark:hidden" href="/">
          <Image src={logoImage} alt="Logo" width={132} height={52} />
        </a>

        <a class="hidden w-28 dark:block" href="/">
          <Image src={darkLogo} alt="Logo" width={132} height={52} />
        </a>

        <button
          @click="open = !open"
          aria-label="Toggle Menu"
          class="px-2 py-1 ml-auto text-gray-500 rounded-md md:hidden focus:text-blue-500 focus:outline-none dark:text-gray-300">
          <svg
            fill="currentColor"
            class="w-4 h-4"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path
              x-cloak
              x-show="open"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"
            ></path>
            <path
              x-show="!open"
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"
            ></path>
          </svg>
        </button>
      </div><div
        class="flex-col items-center justify-start order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none">
        {
          rightmenu.map((item) => (
            <a
              href={item.href}
              class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500">
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</Container>
