---
import Container from "@components/container.astro";
import logoImage from "@assets/logo.svg";
import darkLogo from "@assets/logo-dark.svg";
import menu from '@data/menu';
import { Image } from "@astrojs/image/components";

interface Menu {
  label: string;
  href: string;
  external?: boolean;
  badge?: string;
}
---

<Container>
  <nav>
    <div class="flex flex-wrap justify-between md:gap-10 md:flex-nowrap">
      <!-- Logo -->
      <div class="flex items-center">
        <a class="w-28 dark:hidden" href="/">
          <Image src={logoImage} alt="Logo" />
        </a>
        <a class="hidden w-28 dark:block" href="/">
          <Image src={darkLogo} alt="Logo" />
        </a>
      </div>

      <!-- Menu Items -->
      <div class="flex items-center">
        {
          menu.map((item) => (
            <a
              href={item.href}
              class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500"
              target={item.external ? "_blank" : ""}
              rel={item.external ? "noopener" : ""}>
              {item.label}
            </a>
          ))
        }

        <!-- Toggle Button -->
        <button
          id="menu"
          aria-label="Toggle Menu"
          class="px-2 py-1 ml-auto text-gray-500 rounded-md md:hidden focus:text-blue-500 focus:outline-none dark:text-gray-300">
          <!-- SVG for the button here -->
        </button>
      </div>
    </div>

    <!-- Mobile Menu -->
    <div class="navmenu-toggle hidden">
      {
        menu.map((item) => (
          <a
            href={item.href}
            class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500"
            target={item.external ? "_blank" : ""}
            rel={item.external ? "noopener" : ""}>
            {item.label}
          </a>
        ))
      }
    </div>
  </nav>
</Container>

<script is:inline>
  const menuButton = document.getElementById("menu");
  menuButton.addEventListener("click", () => {
    [...document.querySelectorAll(".navmenu-toggle")].forEach((Element) => {
      Element.classList.toggle("hidden");
    });
  });
</script>
